* {
    margin: 0;
    padding: 0;
	box-sizing:border-box;
}

main {
	flex:1;
    padding-top: 110px;
}

:root {
    --bg-color: linear-gradient(rgb(255,255,255),rgb(255,255,255),rgb(225,200,190),rgb(21,20,20));
}

body {
	min-height:100vh;
	display:flex;
	flex-direction:column;
	font-family:'Poppins',sans-serif;
    background:var(--bg-color);
	margin:0;
}

header{
	position:fixed;
	width:100%;
	top:0;
	background:linear-gradient(rgb(240,140,40), rgb(200,75,20));
	display:grid;
	grid-template-columns:1fr auto 1fr;
	align-items:center;
	padding:10px 0px;
	z-index:1000;
	font-size:20px;
	transition:0.25s;
}	

header nav ul li a {
    color:rgb(30,30,30);
}

header nav ul li a:hover {
    color:white;
}

/*NAV*/

.nav-left{
	justify-self:start;
	padding-left:40px;
}

.nav-right{
    justify-self:end;
	padding-right:40px;
}

nav ul{
    display:flex;
    list-style:none;
}

nav ul li a {
    display:block;
    padding:10px 16px;
    margin:10px;
    color:black;
    text-decoration:none;
	border-radius:6px;
	transition:0.25s;
}

nav ul li a:hover {
    background:linear-gradient(rgb(220,50,25), rgb(220,25,2));
    color:white;
}

/*LOGO*/

.logo-wrapper{
	display:flex;
	justify-content:center;
}

.logo-wrapper img{
    height:75px;
}

/*SHOP*/

.shop-layout {
    padding: 20px;
}

.shop-wrapper-left {
    display: flex;
    flex-direction: column;
    gap: 30px;
    min-width: 0;
}

/*STORE*/

.store-wrapper{
	flex:2;
	min-width:0;
}

.store-wrapper h2 {
	color: var(--text-color);
}

.featured-wrapper{
	display: flex;
    flex-wrap: wrap;
}

/*PROD*/

.product-row {
  display: flex;
  gap: 20px;
}

.product{
	position: relative;
	display:flex;
	flex-direction: column;
	height: 100%;
	border-radius: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 15px rgba(29,53,87,0.2);
	/*img bg*/
    background: linear-gradient(rgb(50,50,75), rgb(25,25,50));
    cursor: pointer;
    transition: transform 0.3s ease;
    overflow: hidden;
}

.product::before{
	content:"";
	position:absolute;
	top:0;
	left:0;
	width: 100%;
  	height: 100%;
	background:url('img/prod-bg.jpg') center/cover no-repeat;
	opacity:0.1;
	z-index:0;
	pointer-events:none;
}

.product img{
	width:100%;
	margin-bottom:10px;
	border-radius:10px;
	position:relative;
	z-index:1;
	box-shadow: 0 7px 15px rgba(0,0,25,0.5);
}

.product h3{
	font-size:16px;
	margin-bottom:5px;
	position:relative;
	z-index:1;
	color:rgb(255,255,255);
}

.product p{
	font-size:12px;
	color:rgb(255,255,255);
	position:relative;
	z-index:1;
}

.product:hover{
	background:linear-gradient(rgb(200,125,100), rgb(200,75,25));
	border-color: rgb(230, 60, 70);
	transform:scale(1.025);
}

.product-description{
	max-height: 0;
	overflow: hidden;
 	opacity: 0;
	transform: translateY(-10px);
  	transition: max-height 0.4s ease, opacity 0.3s ease, transform 0.3s ease;
  	margin-top: 0;
	z-index: 1;
}

.product-description p{
    margin-top:10px;
    font-size:13px;
    line-height:1.4;
}

.product.active .product-description{
	max-height: 500px;
	opacity: 1;
	margin-top: 10px;
	transform: translateY(0);
}

/*ADDCART*/

.addcart{
	display:none;
}

.product.active .addcart{
    display:block;

    margin-top:12px;
    padding:8px 12px;
    width:100%;
    border:none;
    border-radius:6px;

    background:linear-gradient(rgb(230,60,70),rgb(200,30,45));
    color:white;
    font-size:13px;
    font-weight:500;

    cursor:pointer;
}

.addcart:hover{
    background:linear-gradient(rgb(200,30,45),rgb(175,20,30));
}

/*CHECKOUT*/

.checkout-wrapper {
    display: flex;
    flex-direction: column;
    position: sticky;
    top: 120px;
    width: auto; 
    max-width: 365px; 
    height: min-content;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 10px 15px rgba(25,25,25, 0.5);
}

.checkout-wrapper h2{
	color: black;
	margin-bottom:15px;
}

.remove-item{
    margin-left:10px;
}

.item-wrapper{
	display: flex;
    align-items: center;
	color: black;
}

.item-wrapper img {
    width: 60px;
    height: auto;
    margin-right: 15px;
    border-radius: 4px;
}

.item-wrapper p {
	color: black;
}

.checkout-button h3{
	margin-top:15px;
}

.checkout-button p {
	color: black;
}

.checkout-button button,
.settings-wrapper#logout button{
	margin-top:10px;
	padding:10px;
	width:100%;
	border:none;
	background:linear-gradient(rgb(230,60,70),rgb(200,30,45));
	color:white;
	cursor:pointer;
	border-radius:6px;
	box-shadow: 0 4px 15px rgba(29,53,87,0.2);
	
	font-family: 'Poppins', sans-serif;
	color:white;
}

.checkout-button button:hover,
.settings-wrapper#logout button:hover{
	background:linear-gradient(rgb(200,30,45),rgb(175,20,30));
}

.checkout-button label{
	display:block;
	margin-top:10px;
	font-size:12px;
	color: black;
}

/*CUSTOMIZATION*/

.customize-wrapper{
	display: flex;
	flex-direction: column;
    min-width: 0;
}

.customize-wrapper h2 {
	color: var(--text-color);
}

.box-wrapper {
	display: flex;
	background-color: white;
	padding: 20px;
	border-radius: 10px;
	gap: 15px;
	box-shadow: 0 10px 15px rgba(25,25,25,0.5);
}

.selection-wrapper {
	background-color: white;
	border-radius: 10px;
	padding: 20px;
	color: black;
}

.options-wrapper {
	display: flex;
	padding: 20px;
	border-radius: 10px;
	background-color: lightblue;
	color: black;
}

.customize-wrapper select{
	margin-top:10px;
	padding:5px;
}

/*USER*/

.user-wrapper{
	display: flex;
    flex-wrap: wrap;
    gap: 0;
    padding: 30px;
}

/*SETTINGS*/

.settings-menu-wrapper{
	width:300px;
	min-width: 200px;
	flex-shrink:0;
	background:linear-gradient(rgb(50,50,75), rgb(25,25,50));
	border-radius:10px;
	padding:20px;
	transition:0.2s;
	color:white;
	box-shadow: 0 10px 15px rgba(25,25,25,0.5);
}

.settings-menu-wrapper ul{
	padding:0;
	list-style:none;
}

.settings-menu-wrapper li{
	padding:0;
}

.settings-menu-wrapper li:hover{
	background:transparent;
}

.settings-menu-wrapper li a{
	width: 100%;
    min-width: 200px;
    flex-shrink: 0;
    background: linear-gradient(rgb(50,50,75), rgb(25,25,50));
    border-radius: 10px;
    padding: 10px;
    color: white;
    box-shadow: 0 10px 15px rgba(25,25,25,0.5);
}

.settings-container {
	flex: 1;
    min-width: 0;
}

.settings-wrapper{
	border-radius:10px;
	background:linear-gradient(rgb(100,100,150), rgb(50,50,100));
	color:white;
	box-shadow:0 10px 15px rgba(25,25,25,0.5);
	padding:20px;

	display:none;
}

.settings-wrapper.active {
	display:block;
}

/*BUTTON*/

.tab-btn {
	display: block;
	width: 100%;
	padding: 10px;
	background:transparent;
	border: none;
	cursor: pointer;
	text-align: left;
	margin-bottom: 5px;
	border-radius: 4px;
	transition:0.2s;
	color: rgb(30,30,30);
	
	font-family: 'Poppins', sans-serif;
	color:white;
}

.tab-btn:hover{
	background:linear-gradient(rgb(220,50,25), rgb(220,25,2));
	color:white;
}

.tab-btn.active {
	background:linear-gradient(rgb(220,50,25), rgb(220,25,2));
	color:white;
	font-weight: bold;
}

/*INPUT*/

.input-group{
	margin-bottom:15px;
	display:flex;
	flex-direction:column;
}

.input-group input{
	padding:6px;
	width:100%;
	border-radius:4px;
	border:1px solid rgb(200,200,200);
}

/*ABOUT*/

article{
	padding:30px;
}

article h1{
	color: var(--text-color);
	margin-bottom:15px;
}

article p{
	color: var(--text-color);
	margin-bottom:20px;
	line-height:1.6;
}

article img{
	width:300px;
	margin-top:10px;
}

.about-table td, th, table {
	border: 1px solid black;
	border-collapse: collapse;
	padding: 20px;
	background-color: #fffafa;
	color: black;
}

.location-layout {
	display: flex;
	gap: 30px;
}

/*FOOTER*/

footer{
	background:black;
	color:white;
	margin-top:40px;
	padding:10px;
	display:flex;
	justify-content:space-between;
	font-size:12px;
}
